__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.dylib
*.egg-info/
build/
dist/
.idea/
.env
.vscode
venv/
.venv/
.ipynb_checkpoints/
.DS_Store
*.log
*.tmp
tmp/
temp/
module/bin
module/build
module/bin/lore_dwi2fod
module/bin/lore_fractions2contrasts
